.background-white {
  background: white;
  padding: 10px 10px;
  box-shadow: 0px 0px 4px rgba(1,1,1,0.5);
}

.filler {
  height: 100px;
}

.divider {
  width: 100%;
  border-bottom: 1px solid $red;
  height: 1px;
  box-shadow: 0px 1px 1px $red;
  margin: 20px 0;
}

.header {
  height: 100vh;
  text-align: center;
  color: $red;
  display: flex;
  justify-content: center;
  align-items: center;
  h2 {
    font-weight: 400;
    margin-top: 0;
  }
  h3 {
    font-weight: 700;
  }
  .logo {
    max-width: 400px
  }
  .discover {
    margin: 25px 0;
    a {
      width: 100px;
      display: block;
      margin: 0 auto;
    }
  }
}

.header-container {
  position: relative;
}

.description {
  max-width: 500px;
  margin: 80px auto;
  h2, h3 {
    font-weight: 700;
    color: $red;
    text-align: left;
  }
  h3 {
    font-size: 16px;
  }
  p {
    font-size: 14px;
    text-align: left;
    color: #333333;
  }
  span {
    font-weight: 700;
  }
  .call-to-action {
    text-align: center;
    margin-top: 10px;
  }
}

.schedule-container {
  margin: 50px 0;
  h2 {
    text-align: center;
  }
}

.schedule-item {
  &:hover { 
    box-shadow: 2px 2px 2px rgba(1,1,1,0.3);
    transform: scale(1.01);
  }
  transform: scale(1);
  box-shadow: 0px 0px 0px white;
  transition: all 200ms ease;
  padding: 15px;
  width: 80%;
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  margin: 10px auto;
  .left {
    display: flex;
    flex-direction: column;
    flex: 0 0 30%;
    .week {
      color: $red;
    }
    .date {
      font-size: 10pt;
      font-weight: 700;
    }
  }
  .content {
    flex: 1 0 70%;
    text-align: left;
    font-size: 11pt;
    margin-left: 10px;
    h4 {
      font-size: 12pt;
    }
  }
}

.submission {
  text-align: center;
  margin-bottom: 30px;
  display: flex;
  flex-direction: column;
  max-width: 450px;
  margin: 0 auto;
  .form-item {
    display: flex;
    justify-content: space-between;
    margin: 10px 0;
  }
  .submit {
    display: flex;
    justify-content: flex-end;
    width: 100%;
  }
  input {
    padding: 5px;
    border-radius: 2px;
    border: none;
    box-shadow: -1px 1px 1px rgba(1,1,1,0.2);
    min-width: 186px;
  }
  textarea {
    box-shadow: -1px 1px 1px rgba(1,1,1,0.2);
    height: 100px;
    padding: 5px;
    border-radius: 2px;
    border: none;
    font-size: 12px;
    width: 186px;
    color: #333333;
  }
  .label-group {
    color: #ababab;
    i {
      width: 20px;
    }
  }
}

.btn-submit {
  border-radius: 3pt;
  background: $red;
  border: none;
  color: white;
  padding: 5px;
  transition: all 200ms ease;
  text-decoration: none;
  &:hover {
    text-decoration: none;
    color: white;
    background: #c12b2b;
  }
  &:active {
    text-decoration: none;
    color: white;
  }
  &:visited {
    text-decoration: none;
    color: white;
  }
  &:focus {
    text-decoration: none;
    color: white;
  }
}

.practical-information {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 230px;
  width: 200px;
  margin: 0 auto;
  h2 {
    text-align: center;
  }
  .icon {
    text-align: center;
    color: $red; 
  }
}

.footer {
  margin-top: 20px;
  padding-top: 12px;
  display: flex;
  justify-content: space-between;
  height: 180px;
  align-items: center;
  .logo {
    img {
      width: 75px;
    }
  }
  .left {
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    height: 100%;
    margin-left: 30px;
  }
  .right {
    margin-right: 30px;
  }
  .copyright {
    font-size: 11pt;
    .fa {
      color: $red;
    }
  }
  .contact {
    a {
      text-decoration: none;
    }
    h3 {
      text-align: right;
      font-size: 18pt;
      color: $red;
    }
    table {
      font-size: 11pt;
    }
    .spacing {
      width: 50px;
      font-weight: 700;
    }
  }
}