.background-white {
  background: white;
  padding: 10px 10px;
  box-shadow: 0px 0px 4px rgba(1,1,1,0.5);
}

.filler {
  height: 100px;
}

.divider {
  width: 100%;
  border-bottom: 1px solid #e0e0e0;
  height: 1px;
  // box-shadow: 0px 1px 1px #e0e0e0;
  margin: 20px 0;
}

.header {
  height: 100vh;
  text-align: center;
  color: $red;
  display: flex;
  justify-content: center;
  align-items: center;
  h1 {
    font-weight: 700;
    font-size: 34px;
    margin-bottom: 40px;
    margin-top: 30px;
  }
  h3 {
    font-weight: 100;
    font-size: 34px;
    margin-top: -10px;
  }
  .logo {
    max-width: 400px
  }
  .discover {
    margin: 25px 0;
    a {
      width: 140px;
      display: block;
      margin: 0 auto;
    }
  }
}

.header-container {
  position: relative;
}

.description {
  max-width: 480px;
  margin: 40px auto;
  h2, h3 {
    font-weight: 700;
    color: $red;
    text-align: center;
  }
  h2 {
    margin-bottom: 30px;
  }
  h3 {
    margin-bottom: 14px;
    font-size: 20px;
  }
  p {
    font-size: 16px;
    font-weight: 100;
    text-align: left;
    color: #333333;
  }
  span {
    font-weight: 700;
  }
  .call-to-action {
    text-align: center;
    margin-top: 10px;
  }
}

.btn-submit {
  border-radius: 3pt;
  background: $red;
  border: none;
  color: white;
  line-height: 30px;
  padding: 5px;
  transition: all 200ms ease;
  text-decoration: none;
  &:hover {
    text-decoration: none;
    color: white;
    background: #c12b2b;
  }
  &:active {
    text-decoration: none;
    color: white;
  }
  &:visited {
    text-decoration: none;
    color: white;
  }
  &:focus {
    text-decoration: none;
    color: white;
  }
}

.practical-information {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 250px;
  width: 300px;
  margin: 0 auto;
  .icon {
    text-align: center;
    color: $red;
  }
  h2 {
    text-align: center;
    font-size: 28px;
    font-weight: 700;
    color: #444444;
  }
  p {
    font-size: 16px;
    font-weight: 100;
    color: #333333;
  }
}

.schedule-container {
  margin: 50px 0;
  h2 {
    text-align: center;
    font-size: 30px;
    font-weight: 700;
    color: #444444;
  }
}

.schedule-item {
  &:hover {
    box-shadow: 1px 1px 1px rgba(1,1,1,0.3);
    // transform: scale(1.01);
    // background-color: $red;
    background-color: #e34848;
  }
  transform: scale(1);
  box-shadow: 1px 1px 1px rgba(1,1,1,0.3);
  transition: all 200ms ease;
  padding: 15px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  margin: 10px auto;
  .left {
    display: flex;
    flex-direction: column;
    flex: 0 0 38%;
    .week {
      color: $red;
    }
    .date {
      font-size: 10pt;
      font-weight: 700;
    }
  }
  .content {
    flex: 1 0 80%;
    text-align: left;
    font-size: 10pt;
    // margin-left: 10px;
    h4 {
      font-size: 12pt;
    }
    li {
      font-weight: 100;
    }
  }
}

.team {
  text-align: center;
  margin-bottom: 30px;
  h2 {
    text-align: center;
    font-size: 30px;
    font-weight: 700;
    color: #444444;
    margin-bottom: 30px;
  }
  img {
    width: 140px;
    margin: auto;
  }
}

.submission {
  text-align: center;
  margin-bottom: 30px;
  h2 {
    text-align: center;
    font-size: 30px;
    font-weight: 700;
    color: #444444;
    margin-bottom: 30px;
  }

  .form-col {
    min-width: 300px;
  }

  .form-item {
    margin: 10px 0;
  }

  input {
    padding: 5px 10px;
    margin-bottom: 20px;
    border-radius: 2px;
    border: none;
    box-shadow: -1px 1px 1px rgba(1,1,1,0.1);
    width: 300px;
  }
  input:focus {
    outline: none !important;
    border-color: #777777;
    box-shadow: 0px 0px 2px #777777;
  }
  textarea {
    box-shadow: -1px 1px 1px rgba(1,1,1,0.1);
    height: 75px;
    padding: 5px 10px;
    margin-bottom: 20px;
    border-radius: 2px;
    border: none;
    font-size: 14px;
    font-weight: 100;
    width: 300px;
    color: #333333;
  }
  textarea:focus {
    outline: none !important;
    border-color: #777777;
    box-shadow: 0px 0px 2px #777777;
  }
  ::-webkit-input-placeholder {
    font-size: 14px;
    font-weight: 100;
  }

  :-moz-placeholder { /* Firefox 18- */
    font-size: 14px;
    font-weight: 100;
  }

  ::-moz-placeholder {  /* Firefox 19+ */
    font-size: 14px;
    font-weight: 100;
  }

  :-ms-input-placeholder {
    font-size: 14px;
    font-weight: 100;
  }

  label {
    font-weight: 100;
  }

  .label-group {
    // color: #ababab;
    i {
      height: 10px;
      width: 20px;
    }
  }

  .apply-btn {
    width: 140px;
    border-radius: 3pt;
    margin-top: 0px;
    margin-bottom: 0px;
  }
}

.footer {
  height: 200px;
  text-align: center;
  color: #bbb;
  font-weight: 100;
  .copyright {
    padding-top: 130px;
    font-size: 10pt;
  }
}
