/* -------------------------------------
 * Fonts
 * ------------------------------------- */

// Font-size and line-height
$base-size:          16px;
$base-height:        1.4;
$font-weight-light:  100;
$font-weight-normal: 300;
$font-weight-semi-bold: 500;
$font-weight-bold:   900;

// Local fonts (uncomment following lines)
@font-face {
  font-family: "Avenir";
  src: font-url('Avenir/AvenirLight.eot'); /* IE9 Compat Modes */
  src: font-url('Avenir/AvenirLight.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       font-url('Avenir/AvenirLight.woff') format('woff'), /* Modern Browsers */
       font-url('Avenir/AvenirLight.woff2') format('woff2'),
       font-url('Avenir/AvenirLight.ttf') format('truetype'); /* Safari, Android, iOS */
  font-weight: $font-weight-light;
}
@font-face {
  font-family: "Avenir";
  src: font-url('Avenir/AvenirMedium.eot');
  src: font-url('Avenir/AvenirMedium.eot?#iefix') format('embedded-opentype'),
       font-url('Avenir/AvenirMedium.woff') format('woff'),
       font-url('Avenir/AvenirMedium.woff2') format('woff2'),
       font-url('Avenir/AvenirMedium.ttf') format('truetype');
  font-weight: $font-weight-normal;
}
@font-face {
  font-family: "Avenir";
  src: font-url('Avenir/AvenirSemiBold.eot');
  src: font-url('Avenir/AvenirSemiBold.eot?#iefix') format('embedded-opentype'),
       font-url('Avenir/AvenirSemiBold.woff') format('woff'),
       font-url('Avenir/AvenirSemiBold.woff2') format('woff2'),
       font-url('Avenir/AvenirSemiBold.ttf') format('truetype');
  font-weight: $font-weight-semi-bold;
}
@font-face {
  font-family: "Avenir";
  src: font-url('Avenir/AvenirBold.eot');
  src: font-url('Avenir/AvenirBold.eot?#iefix') format('embedded-opentype'),
       font-url('Avenir/AvenirBold.woff') format('woff'),
       font-url('Avenir/AvenirBold.woff2') format('woff2'),
       font-url('Avenir/AvenirBold.ttf') format('truetype');
  font-weight:  $font-weight-bold;
}
@font-face {
  font-family: "Avenir";
  src: font-url('Avenir/AvenirMediumItalic.eot');
  src: font-url('Avenir/AvenirMediumItalic.eot?#iefix') format('embedded-opentype'),
       font-url('Avenir/AvenirMediumItalic.woff') format('woff'),
       font-url('Avenir/AvenirMediumItalic.woff2') format('woff2'),
       font-url('Avenir/AvenirMediumItalic.ttf') format('truetype');
  font-style: italic;
}

// Fonts family
$base-font: "Avenir", "Helvetica", "sans-serif";
$header-font: $base-font;
$navbar-font: $base-font;


/* -------------------------------------
 * Colors
 * ------------------------------------- */
// Scheme
$brand-color: #D23333;

$red: #D23333;
$blue: #469AE0;
$yellow: #FDB631;
$orange: #E67E22;
$green: #32B796;
$purple: #9b59b6;

// Gray scale
$gray-darker:  lighten(#000, 13.5%); // #222
$gray-dark:    lighten(#000, 20%);   // #333
$gray:         lighten(#000, 33.5%); // #555
$gray-light:   lighten(#000, 46.7%); // #777
$gray-lighter: lighten(#000, 93.5%); // #eee
