<div class="description">
  <h2>
    Short Trip to Front-End
  </h2>
  <p>
    Always dreamed of learning <span>how to design and code your own website</span>, but <span>too busy</span> to take classes during the day? 
  </p>
  <p>
    Embark on <span>October 10</span> for <span>Le Wagon by Night - Short Trip to Front-End!</span>
  </p>
  <h3>
    On the menu: 
  </h3>
  <p>
    A 3-hour class, every Monday during 10 weeks (from October 10 until December 12)
  </p>
  <h3>
    Scheduled stops: 
  </h3>
  <p>
    Git, GitHub, HTML5, CSS3, JavaScript, jQuery, Bootstrap, UX/UI, web forms, CMS (WordPress,...) etc.
  </p>
  <h3>
    Final destination: 
  </h3>
  <p>
    A website designed, coded and deployed, from A to Z, by your own hands.
  </p>
  <div class="call-to-action">
    <%= link_to "apply!", "#apply", class: "btn-submit" %>
  </div>
</div>