<div class="footer">
  <div class="left">
    <div class="logo">
      <%= image_tag 'logo.png' %>
    </div>
    <div class="copyright">
      © 2016 - Made by Le Wagon Brussels with love <span><i class="fa fa-heart"></i></span>
    </div>
  </div>
  <div class="right">
    <div class="contact">
      <h3>
        Questions?
      </h3>
      <table>
        <tr>
          <td>
            <div class="spacing">
              <span><i class="fa fa-envelope"></i></span>
            </div>
          </td>
          <td>
            <a href="mailto:anne@lewagon.org?Subject=Question - Le Wagon By Night"> 
            anne@lewagon.org
            </a>
          </td>
        </tr>
        <tr>
          <td>
            <div class="spacing">
              <span><i class="fa fa-phone"></i></span>
            </div>
          </td>
          <td>
            +32 476 785 764
          </td>
        </tr>
      </table>
    </div>
  </div>
</div>