<div class="header-container">
  <div class="header">
    <div class="information">
      <%= image_tag 'le-wagon.png', class: 'logo' %>
      <h3>
        by night
      </h3>
      <h1>
        Short Trip to Front-End
      </h1>
      <div class="discover">
        <%= link_to "Discover", "#description", class: "btn-submit" %>
      </div>
    </div>
  </div>

  <div class="homepage-hero-module">
    <div class="video-container">
      <div class="poster">
        <%= image_tag 'night-sky-stars.jpeg', alt: 'night sky with stars' %>
      </div>
    </div>
  </div>

</div>
