<div class="header-container">
  <div class="header">
    <div class="information">
      <%= image_tag 'le_wagon.png', class: 'logo' %>
      <h2>
        by night
      </h2>
      <h3>
        Short Trip to Front-End
      </h3>
      <div class="discover">
        <%= link_to "discover", "#description", class: "btn-submit" %>
      </div>
    </div>
  </div>

  <div class="homepage-hero-module">
    <div class="video-container">
      <div class="filter"></div>
      <video autoplay loop class="fillWidth">
        <source src="/le_wagon_by_night/videos/BnW.mp4" type="video/mp4" />Your browser does not support the video tag. I suggest you upgrade your browser.
        <source src="/le_wagon_by_night/videos/BnW.webm" type="video/webm" />Your browser does not support the video tag. I suggest you upgrade your browser.
      </video>
      <div class="poster hidden">
        <img src="<%= image_path 'BnW.jpg' %>" alt="">
      </div>
    </div>
  </div>
</div>