<div class="container">
  <div class="row">
    <div class="col-xs-12 col-lg-4">
      <div class="practical-information">
        <h2>
          When?
        </h2>
        <div class="icon">
          <i class="fa fa-calendar fa-3x"></i>
        </div>
        <p>
          10 3-hour classes every Monday from 10.10 until 12.12
        </p>
      </div>
    </div>
    <div class="col-xs-12 col-lg-4">
      <div class="practical-information">
        <h2>
          Where?
        </h2>
        <div class="icon">
          <i class="fa fa-map fa-3x"></i>
        </div>
        <p>
          Co.Station
          5, Place Ste Gudule
          1000 Brussels
        </p>
      </div>
    </div>
    <div class="col-xs-12 col-lg-4">
      <div class="practical-information">
        <h2>
          Price of the journey
        </h2>
        <div class="icon">
          <i class="fa fa-euro fa-3x"></i>
        </div>
        <p>
          Early bird (until 19.09): €500
          Regular price: €800
        </p>
      </div>
    </div>
  </div>
</div>