<div class="container">
  <div class="row">
    <div class="col-xs-12 col-lg-4">
      <div class="practical-information">
        <h2>
          When?
        </h2>
        <div class="icon">
          <i class="fa fa-calendar fa-2x"></i>
        </div>
        <p>
          every Monday
          <br>from 6:30pm to 9:30pm
          <br>from 10/10 until 19/12/2016
        </p>
      </div>
    </div>
    <div class="col-xs-12 col-lg-4">
      <div class="practical-information">
        <h2>
          Where?
        </h2>
        <div class="icon">
          <i class="fa fa-map-marker fa-2x"></i>
        </div>
        <p>
          Co.Station
          <br>Place Sainte-Gudule, 5
          <br>1000 Brussels
        </p>
      </div>
    </div>
    <div class="col-xs-12 col-lg-4">
      <div class="practical-information">
        <h2>
          Price?
        </h2>
        <div class="icon">
          <i class="fa fa-euro fa-2x"></i>
        </div>
        <p>
          800 euros
          <br>(VAT included)
          <br>for the whole session
        </p>
      </div>
    </div>
  </div>
</div>
