<div class="schedule-container">
  <h2>
    Planning
  </h2>
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-lg-6 col-lg-offset-3">
        <div class="schedule-item">
          <div class="left">
            <div class="week">
              #0
            </div>
            <div class="date">
              October 10
            </div>
          </div>
          <div class="content">
            <h4>
              Info session
            </h4>
            <ul>
              <li>
                Program presentation
              </li>
              <li>
                Q&A
              </li>
              <li>
                Registrations
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12 col-lg-6">
        <div class="schedule-item">
          <div class="left">
            <div class="week">
              #1
            </div>
            <div class="date">
              October 17
            </div>
          </div>
          <div class="content">
            <h4>
              Intro & Setup
            </h4>
            <ul>
              <li>
                Static vs a dynamic website
              </li>
              <li>
                Setup
              </li>
              <li>
                Git & GitHub
              </li>
              <li>
                Command lines
              </li>
            </ul>
          </div>
        </div>
        <div class="schedule-item">
          <div class="left">
            <div class="week">
              #2
            </div>
            <div class="date">
              October 24
            </div>
          </div>
          <div class="content">
            <h4>
              HTML & CSS
            </h4>
            <ul>
              <li>
                Fundamentals
              </li>
            </ul>
          </div>
        </div>
        <div class="schedule-item">
          <div class="left">
            <div class="week">
              #3
            </div>
            <div class="date">
              October 31
            </div>
          </div>
          <div class="content">
            <h4>
              CSS
            </h4>
            <ul>
              <li>
                Design resources & tips
              </li>
              <li>
                Components
              </li>
              <li>
                Bootstrap
              </li>
            </ul>
          </div>
        </div>
        <div class="schedule-item">
          <div class="left">
            <div class="week">
             #4
            </div>
            <div class="date">
              November 7
            </div>
          </div>
          <div class="content">
            <h4>
              Principles of UX/UI
            </h4>
            <ul>
              <li>
                Getting started with wireframes
              </li>
            </ul>
          </div>
        </div>
        <div class="schedule-item">
          <div class="left">
            <div class="week">
              #5
            </div>
            <div class="date">
              November 14
            </div>
          </div>
          <div class="content">
            <h4>
              Project
            </h4>
          </div>
        </div>
      </div>
      <div class="col-xs-12 col-lg-6">
        <div class="schedule-item">
          <div class="left">
            <div class="week">
              #6
            </div>
            <div class="date">
              November 21
            </div>
          </div>
          <div class="content">
            <h4>
              JavaScript & jQuery fundamentals
            </h4>
          </div>
        </div>
        <div class="schedule-item">
          <div class="left">
            <div class="week">
              #7
            </div>
            <div class="date">
              November 28
            </div>
          </div>
          <div class="content">
            <h4>
              jQuery auto-completion
            </h4>
          </div>
        </div>
        <div class="schedule-item">
          <div class="left">
            <div class="week">
              #8
            </div>
            <div class="date">
              December 5
            </div>
          </div>
          <div class="content">
            <h4>
              Frameworks
            </h4>
            <ul>
              <li>
                Intro to CMS
              </li>
              <li>
                Static site generators<br>
                (Jekyll, Middleman,...)
              </li>
              <li>
                Wrapbootstrap
              </li>
            </ul>
          </div>
        </div>
        <div class="schedule-item">
          <div class="left">
            <div class="week">
              #9
            </div>
            <div class="date">
              December 12
            </div>
          </div>
          <div class="content">
            <h4>
              Extra features
            </h4>
            <ul>
              <li>
                Web forms (MailChimp, Wufoo,...)
              </li>
              <li>
                Videos (YouTube, Vimeo,...)
              </li>
              <li>
                maps (Google maps)
              </li>
              <li>
                Analytics (Google Analytics)
              </li>
            </ul>
          </div>
        </div>
        <div class="schedule-item">
          <div class="left">
            <div class="week">
              #10
            </div>
            <div class="date">
              December 19
            </div>
          </div>
          <div class="content">
            <h4>
              Deployment
            </h4>
            <ul>
              <li>
                Deploy with FTP
              </li>
              <li>
                Buy & configure a domain name
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
