<div class="schedule-container">
  <h2>
    Planning
  </h2>
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-lg-6">
        <div class="schedule-item">
          <div class="left">
           <div class="week">
             #1
           </div>
           <div class="date">
            Mon October 10
          </div>
        </div>
        <div class="content">
          Presentation + Setup + What's a static vs a dynamic website + git & GitHub + Command lines
        </div>
      </div>
      <div class="schedule-item">
        <div class="left">
          <div class="week">
            #2
          </div>
          <div class="date">
            Mon October 17
          </div>
        </div>
        <div class="content">
          HTML & CSS - Fundamentals
        </div>
      </div>
      <div class="schedule-item">
        <div class="left">
          <div class="week">
            #3
          </div>
          <div class="date">
            Mon October 24
          </div>
        </div>
        <div class="content">
          CSS - Design resources & tips + components + Bootstrap
        </div>
      </div>
      <div class="schedule-item">
        <div class="left">
          <div class="week">
            #4
          </div>
          <div class="date">
            Mon October 31
          </div>
        </div>
        <div class="content">
          Principles of UX/UI - Getting started with wireframes (home work)
        </div>
      </div>
      <div class="schedule-item">
        <div class="left">
          <div class="week">
            #5
          </div>
          <div class="date">
            Mon November 7
          </div>
        </div>
        <div class="content">
          Project
        </div>
      </div>
    </div>
    <div class="col-xs-12 col-lg-6">
      <div class="schedule-item">
        <div class="left">
          <div class="week">
            #6
          </div>
          <div class="date">
            Mon November 14
          </div>
        </div>
        <div class="content">
          JavaScript fundamentals & jQuery selectors
        </div>
      </div>
      <div class="schedule-item">
        <div class="left">
          <div class="week">
            #7
          </div>
          <div class="date">
            Mon November 21
          </div>
        </div>
        <div class="content">
          jQuery (auto-completion, 
        </div>
      </div>
      <div class="schedule-item">
        <div class="left">
          <div class="week">
            #8
          </div>
          <div class="date">
            Mon November 28
          </div>
        </div>
        <div class="content">
          Intro to CMS, static site generators (Jekyll, Middleman,...) & Wrapbootstrap
        </div>
      </div>
      <div class="schedule-item">
        <div class="left">
          <div class="week">
            #9
          </div>
          <div class="date">
            Mon December 5
          </div>
        </div>
        <div class="content">
          Integrate web forms (MailChimp, Wufoo,...), videos (YouTube, Vimeo, self-made,...), maps (Google maps) & analytics (Google Analytics)
        </div>
      </div>
      <div class="schedule-item">
        <div class="left">
          <div class="week">
            #10
          </div>
          <div class="date">
            Mon December 12
          </div>
        </div>
        <div class="content">
          Deploy with FTP + Buy & configure a domain name 
        </div>
      </div>
    </div>
  </div>
</div>
</div>