<div class="schedule-container">
  <h2>
    Planning
  </h2>
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-lg-6">
        <div class="schedule-item">
          <div class="left">
           <div class="week">
             #1
           </div>
           <div class="date">
            Mon October 10
          </div>
        </div>
        <div class="content">
         <h4>
          Setup
        </h4>
        <ul>
          <li>
            Presentation 
          </li>
          <li> 
            Setup 
          </li>
          <li> 
            What's a static vs a dynamic website 
          </li>
          <li> 
            Git & GitHub 
          </li>
          <li> 
            Command lines
          </li>
        </ul>
      </div>
    </div>
    <div class="schedule-item">
      <div class="left">
        <div class="week">
          #2
        </div>
        <div class="date">
          Mon October 17
        </div>
      </div>
      <div class="content">
        <h4>
          HTML & CSS
        </h4>
        <ul>
          <li>
            Fundamentals
          </li>
        </ul>
      </div>
    </div>
    <div class="schedule-item">
      <div class="left">
        <div class="week">
          #3
        </div>
        <div class="date">
          Mon October 24
        </div>
      </div>
      <div class="content">
        <h4>
          CSS
        </h4>
        <ul> 
          <li>
            Design resources & tips
          </li>
          <li>
            components
          </li>
          <li>
            Bootstrap
          </li>
        </ul>
      </div>
    </div>
    <div class="schedule-item">
      <div class="left">
        <div class="week">
          #4
        </div>
        <div class="date">
          Mon October 31
        </div>
      </div>
      <div class="content">
        <h4>
          Principles of UX/UI
        </h4>
        <ul>
          <li>
            Getting started with wireframes (home work)
          </li>
        </ul>
      </div>
    </div>
    <div class="schedule-item">
      <div class="left">
        <div class="week">
          #5
        </div>
        <div class="date">
          Mon November 7
        </div>
      </div>
      <div class="content">
        <h4>
          Project
        </h4>
      </div>
    </div>
  </div>
  <div class="col-xs-12 col-lg-6">
    <div class="schedule-item">
      <div class="left">
        <div class="week">
          #6
        </div>
        <div class="date">
          Mon November 14
        </div>
      </div>
      <div class="content">
        <h4>
          JavaScript fundamentals & jQuery selectors
        </h4>
      </div>
    </div>
    <div class="schedule-item">
      <div class="left">
        <div class="week">
          #7
        </div>
        <div class="date">
          Mon November 21
        </div>
      </div>
      <div class="content">
        <h4>
          jQuery auto-completion 
        </h4>
      </div>
    </div>
    <div class="schedule-item">
      <div class="left">
        <div class="week">
          #8
        </div>
        <div class="date">
          Mon November 28
        </div>
      </div>
      <div class="content">
        <h4>
          Frameworks
        </h4>
        <ul>
          <li>
            Intro to CMS
          </li>
          <li>
            Static site generators (Jekyll, Middleman,...)
          </li>
          <li>
            Wrapbootstrap
          </li>
        </ul>
      </div>
    </div>
    <div class="schedule-item">
      <div class="left">
        <div class="week">
          #9
        </div>
        <div class="date">
          Mon December 5
        </div>
      </div>
      <div class="content">
        <h4>
          Extra features
        </h4>
        <ul>
          <li>
            Integrate web forms (MailChimp, Wufoo,...)
          </li> 
          <li>
            Videos (YouTube, Vimeo, self-made,...)
          </li> 
          <li>
            maps (Google maps)
          </li>
          <li>
            Analytics (Google Analytics)
          </li>
        </ul>
      </div>
    </div>
    <div class="schedule-item">
      <div class="left">
        <div class="week">
          #10
        </div>
        <div class="date">
          Mon December 12
        </div>
      </div>
      <div class="content">
        <h4>
          Deployment
        </h4>
        <ul>
          <li>
            Deploy with FTP
          </li>
          <li>
            Buy & configure a domain name 
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
</div>
</div>