<div class="container">
  <div class="row">
    <div class="schedule">
      <div class="col-xs-12 col-lg-6">
        <table>
          <tr>
            <td>
              <div class="number">
                #1
              </div>
            </td>
            <td>
              <div class="date">
                October 10
              </div>
            </td>
            <td>Presentation + Setup + What's a static vs a dynamic website + git & GitHub + Command lines</td>
          </tr>
          <tr>
            <td>
              <div class="number">
                #2
              </div>
            </td>
            <td>
              <div class="date">
                October 17
              </div>
            </td>
            <td>HTML & CSS - Fundamentals</td>
          </tr>
          <tr>
            <td>
              <div class="number">
                #3
              </div>
            </td>
            <td>        
              <div class="date">
                October 24
              </div>
            </td>
            <td>CSS - Design resources & tips + components + Bootstrap</td>
          </tr>
          <tr>
            <td>
              <div class="number">
                #4
              </div>
            </td>
            <td>
              <div class="date">
                October 31
              </div>
            </td>
            <td>Principles of UX/UI - Getting started with wireframes (home work)</td>
          </tr>
          <tr>
            <td>
              <div class="number">
                #5
              </div>
            </td>
            <td>
              <div class="date">
                November 7
              </div>
            </td>
            <td>Project</td>
          </tr>
        </table>
      </div>
      <div class="col-xs-12 col-lg-6">
        <table>
          <tr>
            <td>
              <div class="number">
                #6
              </div>
            </td>
            <td>
              <div class="date">
                November 14
              </div>
            </td>
            <td>JavaScript fundamentals & jQuery selectors</td>
          </tr>
          <tr>
            <td>
              <div class="number">
                #7
              </div>
            </td>
            <td>
              <div class="date">
                November 21
              </div>
            </td>
            <td>jQuery (auto-completion, </td>
          </tr>
          <tr>
            <td>
              <div class="number">
                #8
              </div>
            </td>
            <td>
              <div class="date">
                November 28
              </div>
            </td>
            <td>Intro to CMS, static site generators (Jekyll, Middleman,...) & Wrapbootstrap</td>
          </tr>
          <tr>
            <td>
              <div class="number">
                #9
              </div>
            </td>
            <td>
              <div class="date">
                December 5
              </div>
            </td>
            <td>Integrate web forms (MailChimp, Wufoo,...), videos (YouTube, Vimeo, self-made,...), maps (Google maps) & analytics (Google Analytics)</td>
          </tr>
          <tr>
            <td>
              <div class="number">
                #10
              </div>
            </td>
            <td>
              <div class="date">
                December 12
              </div>
            </td>
            <td>Deploy with FTP + Buy & configure a domain name </td>
          </tr>
        </table>
      </div>
    </div>
  </div>
</div>
