<div class="container team">
  <h2>
    Teachers
  </h2>
  <div class="row">
    <div class="col-xs-12 col-lg-6">
      <div class="team-member">
        <div class="team-member-img">
          <%= image_tag 'boris.jpg', alt: 'Boris Rorsvort', class: 'img-responsive' %>
        </div>
        <h4>Boris Rorsvort</h4>
<!--         <p>bio</p> -->
      </div>
    </div>
    <div class="col-xs-12 col-lg-6">
      <div class="team-member">
        <div class="team-member-img">
          <%= image_tag 'anne.jpg', alt: 'Anne Collet', class: 'img-responsive' %>
        </div>
        <h4>Anne Collet</h4>
<!--         <p>bio</p> -->
      </div>
    </div>
  </div>
</div>
